* {
    margin: 0;
    padding: 0;
}
 img {
    max-width: 100%;
    max-height: 100%
 }

 body{
    font-size: 20px;
    

        /*to set the font size to 20 pixels and apply the Montserrat font family to the entire webpage, ensuring a consistent and visually appealing typography throughout the site*/   
 }
.header-wrapper{
     background:rgba(255,255,255,0.8);
    color: white;      /*to set the background color of the header to black and the text color to white*/
    font-weight: 200;
    font-size: 0.75em; 
    position:fixed;
    width:100%;
    height:45px;
    backdrop-filter:blur(20px);
}
 .header-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;    /*to distribute the list items evenly across the header and create space between them*/
    justify-content: space-between;
    gap:20px;
    
 }
 .internal-wrapper {
    width: 980px;        /*to align the content in the center of the header*/
    padding: 0 10px;
    margin: 0 auto;
   
  
 }
 .header-wrapper .header-links-wrapper ul li a {
    text-decoration: none;
    color: black;  
    font-weight:200;        
 }
 .header-wrapper ul{        
                           
     list-style: none;
 }
 .header-wrapper .header-links-wrapper ul li {
    display: inline-block;     /*allowing them to be arranged horizontally*/
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
 }
 .header-wrapper .header-links-wrapper ul li a:hover {   /*to change the opacity of the links to 0.7 when hovered over, creating a visual effect that indicates interactivity*/
    opacity: 1;
 }
 .logo-link, .search-link, .cart-link {   /*to set the width of the logo, search, and cart icons to 18 pixels, ensuring they are displayed as block elements for proper alignment and spacing within the header*/
    width: 20px;
    height:40px;
    display: block;
    filter:invert(1);

 }
 .header-wrapper .header-links-wrapper ul li .logo-link {  /*to set the padding for the logo link to 12 pixels on the top and bottom, and 0 pixels on the left and right, creating space around the logo within the header*/
    padding: 12px 0 10px;
 }
 .header-wrapper .header-links-wrapper ul li .search-link {    /*to set the padding for the search link to 14 pixels on the top, 0 pixels on the left and right, and 8 pixels on the bottom, creating space around the search icon within the header*/ 
        padding: 14px 0 8px;
 }
.header-wrapper .header-links-wrapper ul li .cart-link {     /*to set the padding for the cart link to 12 pixels on the top, 0 pixels on the left and right, and 10 pixels on the bottom, creating space around the cart icon within the header*/
     padding: 12px 0 10px;  
 }
.logo-link img{
    width:30px;
    height:30px;
}


    /* footer styling */

.footer-wrapper{
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: 0.65em;

}

.upper-text-container{
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
}

.upper-text-container a{
    text-decoration: none;
    color: #515154;
}

.upper-text-container a:hover{
    text-decoration: underline;
}

.footer-links-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
}

.footer-wrapper ul{
    list-style: none;
    padding-bottom: 20px;
}

.footer-wrapper ul li{
    padding: 4px 0;
    font-size: 0.9em;
    opacity: 0.8;
}

.footer-links-wrapper a{
    color: #515154;
    text-decoration: none;
}

.footer-links-wrapper a:hover{
    text-decoration: underline;
}

.footer-links-wrapper h3{
    font-size: 12px;
    font-weight: 600;
}

.my-apple-wrapper{
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.copyright-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
}

.footer-links-terms ul li{
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid black;
}

.footer-links-terms ul li:last-child{
    border-right: 0px;
}

.footer-links-terms ul li a{
    text-decoration: none;
    color: #515154;
}

.footer-links-terms ul li a:hover{
    text-decoration: underline;
}

.footer-country{
    display: inline-block;
}

.flag-wrapper{
    display: inline-block;
    vertical-align: middle;
}

.footer-country-name{  
    display: inline-block;
    vertical-align: top;
}
.upper-text-container,
.footer-links-wrapper,
.my-apple-wrapper,
.copyright-wrapper {
    max-width: 980px;
    margin: 0 auto;
}


/*main highlight styling*/


.main-highlight-wrapper{
    text-align: center;
    padding: 90px 0 0px;
    margin-bottom: 12px;
}

 .links-wrapper ul{
    list-style: none;

 }
 .model{
    font-size: 0.85em;
 }
 .product-title{
    font-weight: 700;
    font-size: 56px;
 }
 .brief-description{
    font-size: 2em;
    color:white
 }

.links-wrapper{
    padding: 15px 0;
}
.links-wrapper ul li {             
    display: inline-block; 
    padding-right: 20px;
}
.links-wrapper ul li a{
    text-decoration: none;
    color: #06c;
}
.links-wrapper ul li a:hover {
    color: #000;
}
.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
   padding-left: 10px;
   
}
.top-logo{
    margin-top:10px;
}
 /*edits*/

.button{
    background:#2563eb;
    color:white;
    border:none;
    padding: 10px 20px;
    border-radius:30px;
    cursor:pointer;
    margin-top: 15px;
    font-size:15px;
    margin-left:15px;
    
}
.button2{
    color:blue;
    border-radius: 30px;
    cursor: pointer;
    border:1px solid blue;
    padding: 12px 25px;
    margin-left:15px;
}

.button2:hover{
    background-color: blue;
    color:white;
}

.top-text{     /*iphone lineup*/
    font-size: 35px;
    font-weight: bold;
    color:white
}
.top-text2{        /*apple watch top*/
    color: black;
    font-size:43px;
    font-weight: bold;
}
.description-wrapper2{ /*apple watch bottom text*/
    color:black;
    font-size:20px;
    font-weight: 100px;
}
.top-text3{     /*mac book air*/
    font-size:34px;
    font-weight:600;

}
.description-wrapper3{ 
    font-size:14px;
    margin-top:5px;
    font-weight:400;
}
.description-wrapper4{
    text-align: center;
    color:white;
       font-size:24px;
    margin-top:5px;
}
.description-wrapper5{
    text-align: center;
    font-size: 15px;
    color:black;
    font-weight: 400;
    font-size:25px;
}
.main-highlight-wrapper{
    background-image: url(banner.jpg);
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
}
.logo-wrapper{
    font-size: 40px;
    font-weight: bold;
    padding-bottom:5px;

}

/* second highlint styling */
.second-highlight-wrapper{
    background-image: url("apple2.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
}
.title-wrapper{
    font-weight: 600;
    font-size: 56px;
    color:black;
    padding-top:5px;
}
.description-wrapper{
    font-size: 26px;
    padding: 10px 0;
    color:black;
    padding-top:1px;
}

/* third highlight styling */

.third-highlight-wrapper{
    background-image: url("apple3.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
    margin-top: 20px;
}
/*fourth highlight wrapper*/

.fourth-highlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background:#fff;
}
.left-side-wrapper{
    height: 578px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 58px;

}
.fourth-highlight-wrapper .left-side-wrapper{
    background-image: url("apple4.jpg");
    
}
.right-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .right-side-wrapper{
    background-image: url("apple5.jpg");
}

/* fifth highlight section*/
.fifth-highlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background:#fff;
}
.fifth-highlight-wrapper .left-side-wrapper{
    background-image: url("apple6.jpg");
}

.fifth-highlight-wrapper .right-side-wrapper{
    background-image: url("apple7.jpg");
    color:#fff;
    background-size: cover;
    background-color: #000;
    background-position: bottom;

}


/*sith highlight section*/
.sixth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background:#fff;
}
.sixth-highlight-wrapper .left-side-wrapper {
    background-image: url("apple8.jpg");
    background-size: cover;
    background-color: #fafafa;
    background-position: bottom;
}
.product-title-small{
    font-weight: bold;
    font-weight:500;
}
.sixth-highlight-wrapper .right-side-wrapper{
    background-image: url("apple9.jpg");
}

/*slider*/
