
*{
    margin:0;
}
body {
    background-color:#0f172a;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: antiquewhite;
    color: black;
    display: flex;
    height: 40px;
    padding-top: 15px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow-x: auto;
}
.header-wrapper{
    width:100%
}
.header-wrapper .logo {
    margin-right:auto;
    font-weight:600;
    font-size:25px;
    font-family:cursive;
}
.header-wrapper ul{
    display:flex;
    align-items:center;
    list-style:none;
    padding:0 25px;
    gap:20px;
}
.header-wrapper ul li a{
    text-decoration:none;
    color:black;
}
.header ul li a:hover{
    opacity:0.25;
    color:black;
}

    /* Skills */

.projects{
    clear:both;
    margin-top:100px;
}

.project-wrapper{
    justify-content: center;
    gap: 100px;
    background-color:  #132441;
    margin-bottom:10px;

}
.projects h2{
    text-align:center;
    font-size:50px;
    font-weight:300px;
    margin-bottom:20px;
    padding-top:50px;
    color:white;
}
.projects h4{
    color:aqua;
    text-align:center;
    font-weight:600px;
    font-size:25px;
    margin-bottom:40px;
}
.projects h3{
    padding-left:20px;
    text-align: center;
}

.card{
    height:450px;
    width: 900px;
    background:whitesmoke;
    border-radius:15px;
    margin-left:300px;
    margin-bottom:70px;
    overflow: hidden;
    margin-top:60px;
 

}
.card p{
    text-align: center;
    font-weight:500;
}
.card img{
    overflow:none;
    background-size:cover;
    background-position: center;
    width:900px;
    height:300px;
}
.btn{
    background-color:rgb(25,25,163);
    color:white;
    border:none;
    border-radius:10px;
    padding:12px 20px;
    cursor:pointer;
    margin-right:15px;
    margin-left:10px;
    margin-top:10px;
}
.buttons a{
    text-decoration: none;
    margin-left:30px;

}

.buttons{
    margin-top:auto;
    display:flex;
    justify-content:center;
    padding-bottom:20px;
}
.buttons a:hover{
    background-color: black;
}

.footer{

    background:antiquewhite;
    padding:50px 20px;
    text-align:center;
    margin-top:80px;

}

.footer-content{

    max-width:800px;
    margin:auto;

}

.footer h2{

    color:black;
    font-size:28px;
    margin-bottom:15px;
    font-weight:600;

}

.footer p{

    color:#82a4cd;
    line-height:1.8;
    margin-bottom:20px;

}

.footer-links{

    margin:30px 0;

}

.footer-links a{

    color:rgb(111, 88, 88);
    text-decoration:none;
    margin:0 18px;
    font-size:16px;
    transition:.3s;

}

.footer-links a:hover{

    color:#2563eb;

}

.footer hr{

    border:none;
    height:1px;
    background:#334155;
    margin:30px 0;

}

.copyright{

    color:#94a3b8;
    font-size:14px;

}